@font-face {
  font-family: "Rubik Moonrocks";
  src: url("/quest/fonts/RubikMoonrocks-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 100px auto;
  text-align: center;
  font-family: 'Rubik Moonrocks', sans-serif;
  font-weight: 900;
  font-size: 4em;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
  text-shadow: 13px 5px 5px rgba(255, 255, 255, 0.8);
  color: darkred;
}
body {
  background: 
       radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
       radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	background-attachment: fixed;
}
@media (max-width: 768px) {
  body {
      margin: auto;
  }
  h1 {
      font-size: 3.2em;
      margin: 150px auto;
  }
}
@media (max-width: 480px) {
  body {
      margin: auto;
  }
  h1 {
      font-size: 2.7em;
      margin: 150px auto;
  }
}
@media (max-width: 320px) {
  body {
      margin: auto;
  }
  h1 {
      font-size: 2em;
      margin: 150px auto;
  }
}