@font-face {
    font-family: "Rubik Moonrocks";
    src: url("/quest/fonts/RubikMoonrocks-Regular.ttf");
  }
@font-face {
    font-family: "Rubik Bubbles";
    src: url("/quest/fonts/RubikBubbles-Regular.ttf");
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: 
           radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
           radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-attachment: fixed;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
h1 {
        text-align: center;
        margin: 30px auto;
        font-family: 'Rubik Moonrocks', sans-serif;
        font-weight: 900;
        font-size: 3em;
        letter-spacing: 0.1em;
        word-spacing: 0.5em;
        text-shadow: 13px 5px 5px rgba(255, 255, 255, 0.8);
        color: darkred;
        }
h3 {
        text-align: center;
        font-family: 'Rubik Bubbles', sans-serif;
        font-size: 1.7em;
        font-style: italic;
        background: #fff;
        }
.container {
    background: #fff;
    background-image: radial-gradient(#ffaf2f 2px, transparent 1px);
    background-size: 20px 20px;
    width: 450px;
    height: 450px;
    margin: 50px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.card0 {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 3em;
    color: #ddd;
    text-shadow: 0 5px 5px rgba(080, 080, 080, 0.8);
}
.card0:hover {
    cursor: pointer;
}
.passCard {
    width: 300px;
    height: 30px;
    margin: 30px auto 30px auto;
    text-align: center;
    font-family: 'Rubik Bubbles', sans-serif;
    font-size: 2.5em;
    color: darkred;
    letter-spacing: 0.3em;
}
.passCard:hover {
    cursor: pointer;
}
.timerCard {
    width: 300px;
    height: 30px;
    margin: 20px auto 50px auto;
    text-align: center;
    font-family: 'Rubik Bubbles', sans-serif;
    font-size: 1.5em;
    color: black;
}
@media (max-width: 480px) {
    body {
        margin: auto;
    }
    .container {
        width: 345px;
        height: 345px;
    }
    .card0 {
        width: 115px;
        height: 115px;
        font-size: 2.5em;
    }
    .passCard {
        font-size: 2.2em;
    }
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
}
@media (max-width: 320px) {
    body {
        margin: auto;
    }
    .container {
        width: 270px;
        height: 270px;
    }
    .card0 {
        width: 90px;
        height: 90px;
        font-size: 2em;
    }
    .passCard {
        font-size: 1.8em;
    }
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 0.9em;
    }
}